<link rel="stylesheet" type="text/css" href="{cAssets}/app-assets/css/pages/page-knowledge.css">
<div class="container" id="knowledge">
    <div class="row">
        <div class="col s12">
		    <div id="search" class="card z-depth-0 search-image center-align p-35">
		        <div class="card-content">
		        	<h5 class="center-align mb-3">How can we help you?</h5>
		        </div>
		    </div>
	    </div>
    </div>
    <div class="row">
    	<div class="col s12 m4">
	      <div class="card card-hover z-depth-0 card-border-gray">
	        <a href="#">
	          <div class="card-content center-align">
	            <h5><b>Support</b></h5>
	            <i class="material-icons md-48 red-text">favorite_border</i>
	            <p class="mb-2 black-text">Synonyms for support with free <br> online thesaurus, antonyms.</p>
	          </div>
	        </a>
	      </div>
	    </div>
	    <div class="col s12 m4">
	      <div class="card card-hover z-depth-0 card-border-gray">
	        <a href="#">
	          <div class="card-content center-align">
	            <h5><b>Support</b></h5>
	            <i class="material-icons md-48 red-text">favorite_border</i>
	            <p class="mb-2 black-text">Synonyms for support with free <br> online thesaurus, antonyms.</p>
	          </div>
	        </a>
	      </div>
	    </div>
	    <div class="col s12 m4">
	      <div class="card card-hover z-depth-0 card-border-gray">
	        <a href="#">
	          <div class="card-content center-align">
	            <h5><b>Support</b></h5>
	            <i class="material-icons md-48 red-text">favorite_border</i>
	            <p class="mb-2 black-text">Synonyms for support with free <br> online thesaurus, antonyms.</p>
	          </div>
	        </a>
	      </div>
	    </div>
    </div>
</div>

<!-- BEGIN VENDOR JS-->
<script src="{cAssets}/app-assets/js/vendors.min.js" type="text/javascript"></script>
<script src="{cAssets}/app-assets/js/plugins.js" type="text/javascript"></script>
<script src="{cAssets}/app-assets/js/custom/custom-script.js" type="text/javascript"></script>

